@import url('./animations.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Chakra Petch', sans-serif;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: var(--primary-color);
	background: var(--background-color);
	min-width: 280px;
	height: 100%;
}

header {
	position: relative;
	z-index: 4;
	height: 90px;
}

.content {
	height: 100%;
	max-width: 1400px;
	padding: 15px 30px;
	margin: 0 auto;
}

#top {
	display: flex;
	align-items: stretch;
	gap: 32px;
	justify-content: space-between;
	position: -webkit-sticky;
	position: sticky;
}

#logo {
	height: 100%;
}

#logo-link {
	height: inherit;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

nav {
	display: flex;
	align-items: center;
	gap: 16px;
	flex-basis: 500px;
}

#search {
	position: relative;
	height: 35px;
	background-color: var(--search-bg-color);
	box-shadow: var(--shadow-color);
	border-radius: 6px;
	flex-grow: 1;
	flex-shrink: 1;
}

#search-input {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 16px;
	border-radius: 6px;
	outline: none;
	border: none;
	background: transparent;
	color: var(--primary-color);
}

#search-input::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
}

#search-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 8px;
	color: var(--primary-color);
	padding: 5px;
	z-index: 2;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#search-icon:hover {
	-webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.363));
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.363));
	color: var(--secondary-color);
	transition: all 300ms ease-in-out;
}

#search::-webkit-input-placeholder {
	color: var(--search-placeholder-color);
	-webkit-user-select: none;
	user-select: none;
}

#search::-moz-placeholder {
	color: var(--search-placeholder-color);
	-moz-user-select: none;
	user-select: none;
}

#search:-ms-input-placeholder {
	color: var(--search-placeholder-color);
	-ms-user-select: none;
	user-select: none;
}

#search::-ms-input-placeholder {
	color: var(--search-placeholder-color);
	-ms-user-select: none;
	user-select: none;
}

#search::placeholder {
	color: var(--search-placeholder-color);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 35px;
	background-color: var(--secondary-color);
	width: 35px;
	border-radius: 12px;
	cursor: pointer;
	box-shadow: var(--shadow-color);
	transition: box-shadow 0.3s ease-in;
	flex-shrink: 0;
}

.btn > span {
	font-size: 24px;
	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

.btn:active {
	box-shadow: var(--shadow-color) inset;
	transition: box-shadow 0.3s ease-in;
}

#btn-filter {
	z-index: 5;
}

#category-list {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	height: calc(300px + 22vh);
	min-width: 400px;
	background-color: var(--background-color);
	border-radius: 10px;
	box-shadow: 3px 3px 10px #00000080;
	cursor: default;
}

#bg-modal-filter {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: #00000078;
	z-index: -1;
	cursor: default;
}

#close-filter {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: end;
	position: absolute;
	margin: 10px;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

#close-filter::before,
#close-filter::after {
	content: '';
	position: absolute;
	height: 80%;
	width: 3px;
	border-radius: 10px;
	background-color: var(--text-color);
}

#close-filter::before {
	transform: rotate(45deg);
}

#close-filter::after {
	transform: rotate(-45deg);
}

#category-list ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 16px;
	align-items: start;
	justify-content: center;
	list-style: none;
	padding-bottom: 10px;
	margin: 45px 24px 24px;
	overflow-y: scroll;
}

ul::-webkit-scrollbar {
	display: none;
}

#category-list li {
	padding: 6px;
	background-color: var(--secondary-color);
	border-radius: 10px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: white;
	box-shadow: var(--shadow-color);
}

#category-list a {
	color: white;
	text-decoration: none;
	text-transform: capitalize;
}

#btn-access {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#btn-access > a {
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--text-color);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: border-color 300ms, color 300ms;
	text-decoration: none;
}

#btn-access > a:hover {
	color: rgb(154, 131, 175);
}

#register {
	border: 1px solid var(--text-color);
	border-radius: 6px;
	padding: 4px 8px;
}

#register:hover {
	border-color: rgb(154, 131, 175);
}

#info-user {
	display: none;
	flex-direction: column;
	align-items: end;
	color: var(--text-color);
	font-weight: 700;
}

#info-user span {
	text-transform: capitalize;
}

#info-user > a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--secondary-color);
	cursor: pointer;
}

#btn-theme {
	background-color: var(--secondary-color);
	height: 51px;
	width: 27px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	flex-shrink: 0;
}

#btn-theme * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.material-symbols-outlined {
	font-size: 16px;
}

span.active {
	background: var(--tertiary-color);
	width: 100%;
	border-radius: 50%;
	height: 27px;
	display: grid;
	align-items: center;
	justify-items: center;
	color: white;
	transition-property: color, text-shadow, width, height, -webkit-filter;
	transition-property: color, text-shadow, filter, width, height;
	transition-property: color, text-shadow, filter, width, height, -webkit-filter;
	transition-timing-function: ease-in;
	transition-duration: 0.3s;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.86);
	-webkit-filter: drop-shadow(0px 0px 2px #000000e8);
	filter: drop-shadow(0px 0px 2px #000000e8);
}

span.disabled {
	color: #000000cf;
	transition: color 0.3s ease-in;
	margin-top: 4px;
	margin-bottom: 4px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	height: 50px;
	width: 100%;
	background: rgb(27, 27, 27);
	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: fixed;
	bottom: 0;
}

@media (max-width: 690px) {
	#top {
		gap: 16px;
	}

	#search {
		width: 155px;
	}

	#search-input {
		width: 135px;
	}

	#category-list {
		position: fixed;
		left: 0;
		height: 100%;
		border-radius: 0;
	}

	#category-list ul {
		margin-top: 50px;
		margin-bottom: 0;
		padding-bottom: 20px;
	}
}
