:root {
	--background-color: #e3e3e3;
	--bg-color-inverse: #1e132d;
	--background-gradient-ct: linear-gradient(0deg, #e3e3e3 40%, #ffffff00 100%);
	--text-color: #1e132d;
	--text-color-inverse: #e3e3e3;
	--btn-download: #1e132d4b;
	--search-bg-color: #d9d9d9;
	--primary-color: #1e132d;
	--secondary-color: rgb(91, 56, 141);
	--tertiary-color: #9000c4;
	--search-placeholder-color: rgba(30, 19, 45, 0.75);
	--shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.25);
	--loader-color: #2f3545;
	--loader-dot: #5628ee;
	--loader-duration: 3s;
}

.dark:root {
	--background-gradient-ct: linear-gradient(0deg, #1e132d 40%, #ffffff00 100%);
	--background-color: #1e132d;
	--bg-color-inverse: #e3e3e3;
	--text-color: #d2d2d2;
	--text-color-inverse: #1e132d;
	--btn-download: #a7a7a731;
	--loader-color: #e3e3e3;
}
