:root {
  /* --background-color: linear-gradient(0deg, rgba(30,19,45,1) 40%, rgba(210,210,210,1) 100%); */
  --background-color: #E3E3E3;
  --bg-color-inverse: #1E132D;
  --background-gradient-ct: linear-gradient(0deg, #E3E3E3 40% , #ffffff00 100%);
  --text-color: #1E132D;
  --text-color-inverse: #E3E3E3;
  --btn-download: #1e132d4b;
  --search-bg-color: #D9D9D9;
  --primary-color: #1E132D;
  --secondary-color: rgb(91, 56, 141);
  --tertiary-color: #9000C4;
  --search-placeholder-color: rgba(30, 19, 45, 0.75);
  --shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dark:root {
  --background-gradient-ct: linear-gradient(0deg, #1E132D 40% , #ffffff00 100%);
  --background-color: #1E132D;
  --bg-color-inverse: #E3E3E3;
  --text-color: #D2D2D2;
  --text-color-inverse: #1E132D;
  --btn-download: #a7a7a731;
}